/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.header {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #15396b;
}

.sub-header {
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 400;
  color: #15396b;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.sub-header-txt{
    border-bottom: 1px solid #15396b;
}
label {
  font-size: 0.9rem;
  font-family: sans-serif;
}

.action-btn {
  background-color: #15396b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.7rem;
  font-family: sans-serif;
}

